
/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  --body-bg-color: #fed2ad;
  --body-font-color: #b9445a;
  --main-bg-color: #fefbd7;
  --main-border-color: #fcb092;
  --color-darken: #943648;
  --color-lighten: #c7687a;
  --color-white: #fffce9;
  --spacer: 1rem;
}

/* ==========================================================================
   Default element styles
   ========================================================================== */

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
  url('../fonts/Oswald-Regular.woff') format('woff'),
  url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
  url('../fonts/Oswald-Bold.woff') format('woff'),
  url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cardo';
  src: url('../fonts/Cardo-Regular.woff2') format('woff2'),
  url('../fonts/Cardo-Regular.woff') format('woff'),
  url('../fonts/Cardo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  color: var(--body-font-color);
  font-size: 2em;
  font-family: Cardo, sans-serif;
  line-height: 1.4;
  background: var(--body-bg-color);
}

h1,
h2,
h3 {
  font-family: Oswald, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

a,
a:focus,
a:active {
  color: var(--body-font-color);
}

a:hover {
  color: var(--color-darken);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  font-family: Oswald, sans-serif;
  font-weight: 700;
}

dt:after {
  content: ": ";
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* ==========================================================================
   Page custom styles
   ========================================================================== */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "nav"
    "footer";
  align-items: center;
}

.header {
  grid-area: header;
  justify-self: center;
  margin-bottom: var(--spacer);
}

.header__headline {
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  font-size: clamp(2rem, 0.2143rem + 8.9286vw, 4.5rem);
}

.header__headline--gradient {
  background: linear-gradient(to left, #503c91 0%, #954375 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  grid-area: main;
  align-self: stretch;
  justify-self: stretch;
  margin: 0 calc(var(--spacer) * .5);
}

.content {
  padding: var(--spacer);
}

.content--background {
  background: var(--main-bg-color);
  border: 2px solid var(--main-border-color);
  border-radius: 8px;
}

.content__headline {
  margin-top: 0;
}

.sticker {
  width: fit-content;
  margin: 0 auto var(--spacer);
  position: relative;
}

.sticker--rounded::before {
  content: '';
  display: block;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background: var(--main-bg-color);
  box-shadow: 2px 2px 10px 0 rgba(52,39,94,0.8);
}

.sticker__image {
  position: absolute;
  top: 0;
  left: 10px;
}

.navigation {
  grid-area: nav;
  justify-self: stretch;
  align-content: center;
  margin-top: var(--spacer);
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__icon {
  max-height: 2rem;
  max-width: 2rem;
}

.footer {
  grid-area: footer;
  justify-self: center;
  margin: var(--spacer) 0;
}

.footer__text {
  margin: 0;
  font-family: Oswald, sans-serif;
  font-size: .5em;
  font-style: inherit;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 45em) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header header header"
    ". main main nav"
    "footer footer footer footer";
  }

  .main {
    margin: unset;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }

  .navigation {
    justify-self: start;
    margin: unset;
  }

  .navigation__list {
    display: block;
  }

  .navigation__item {
    transform: translateX(-8px);
    transition: transform 0.2s ease 0s;
  }

  .navigation__item:hover {
    transform: translateX(0px);
  }

  .footer {
    display: flex;
    height: 30vh;
  }

  .footer__text {
    margin-top: auto;
  }

  .footer__text:first-child {
    margin-right: .5rem;
    padding-right: .5rem;
    border-right: 2px solid var(--main-border-color);
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

